server {
	server_name 			Webserv;
	listen					8080;
	error_page 400			./www/pages/400.html;
	error_page 401			./www/pages/401.html;
	error_page 404			./www/pages/404.html;
	error_page 405			./www/pages/405.html;
	error_page 408			./www/pages/408.html;
	error_page 409			./www/pages/409.html;
	error_page 411			./www/pages/411.html;
	error_page 413			./www/pages/413.html;
	error_page 414			./www/pages/414.html;
	error_page 415			./www/pages/415.html;
	error_page 418			./www/pages/418.html;
	error_page 429			./www/pages/429.html;
	error_page 431			./www/pages/431.html;
	error_page 451			./www/pages/451.html;
	error_page 500			./www/pages/500.html;
	error_page 501			./www/pages/501.html;
	error_page 502			./www/pages/502.html;
	error_page 503			./www/pages/503.html;
	error_page 504			./www/pages/504.html;
	error_page 505			./www/pages/505.html;
	autoindex				on;
	limit_except			GET PUT POST;

	location /pages/ {
        		root 						./www/pages/;
        		limit_except 				GET;
        		index						index_2.html;
        		autoindex					on;
        	}

	location / {
		root 						./www/;
		cgi							php		/usr/bin/php;
		limit_except 				PUT GET;
		index						index.html;
	}
}

server {
	server_name 			redirected;
	listen					9093;
	redirect 301  https://developer.mozilla.org/ru/docs/Web/HTTP/Status/301;

	location / {
		root 						./www_2/;
		index						index.html;
	}
}