server {
	listen					127.0.0.1:9090;
	error_page 404			./www/pages/404.html;
	error_page 403			./www/pages/403.html;
	root					./www_2/;

	location / {
		root 						./www/;
		limit_except 				GET PUT POST;
		limit_body_size				100;
		index						index.html;
		autoindex					off;
		upload_folder				upload/;
	}

    location /php/ {
    		root 						./www/php/;
    		limit_except 				GET POST;
    		index						index.php;
    		cgi                         php /Users/scopycat.brew/bin/php-cgi
    		autoindex					off;
    	}

    location /pages/ {
    		index					index.html;
    		error_page 404			./www_2/pages/401.html;
    		}

    location /pages_2/ {
        		root					./www/;
        		index					index.html;
    }

    location /limit_test/ {
    			limit_body_size			100;
    			limit_except			GET PUT POST;
    			index					index.html;
    			upload_folder			upload/;
    }
}

server {
	server_name 			test;
	listen					127.0.0.1:9090;

	autoindex				on;
	limit_except			GET PUT POST;

	location /pages/ {
        		root 						./www_2/pages/;
        		limit_except 				GET;
        		index						index_2.html;
        		autoindex					off;
        	}

	location / {
		root 						./www_2/;
		cgi							php		/usr/bin/php;
		limit_except 				GET PUT;
		index						index.html;
	}
}

server {
	server_name 			redirected;
	listen					9093;

	location / {
		redirect 301  https://developer.mozilla.org/ru/docs/Web/HTTP/Status/301;
		root 						./www_2/;
		index						index.html;
	}
}