server {
	listen					127.0.0.1:8080;
	error_page 404			./www/pages/404.html;
	error_page 403			./www/pages/403.html;

	location / {
		root 						./www/;
		limit_except 				GET;
		index						index.html;
		autoindex					off;
	}

    location /php/ {
    		root 						./www/php/;
    		limit_except 				GET POST;
    		index						index.php;
    		cgi                         php /usr/bin/php-cgi
    		autoindex					off;
    	}
}

server {
	server_name 			localhost;
	listen					9090;
	error_page 404			./www_2/pages/404.html;

	location /pages/ {
        		root 						./www_2/;
        		limit_except 				GET;
        		index						index_2.html;
        		autoindex					off;
        	}

	location / {
		root 						./www_2/;
		cgi							php		/usr/bin/php
		limit_except 				GET;
		index						index.html;
		autoindex					on;
	}
}