server {
	listen					127.0.0.1:8080;
	error_page 404			./www/pages/404.html;
	error_page 403			./www/pages/403.html;
	root					./www_2/;

	location / {
		root 						./www/;
		limit_except 				GET PUT;
		index						index.html;
		autoindex					off;
	}

    location /php/ {
    		root 						./www/php/;
    		limit_except 				GET POST;
    		index						index.php;
    		cgi                         php /Users/mjuli/.brew/bin/php-cgi
    		autoindex					off;
    	}

    location /pages/ {
    		error_page 404			./www_2/pages/401.html;
    }
}

server {
	server_name 			localhost;
	listen					9090;
	error_page 400			./www_2/pages/400.html;
	error_page 401			./www_2/pages/401.html;
	error_page 404			./www_2/pages/404.html;
	error_page 405			./www_2/pages/405.html;
	error_page 408			./www_2/pages/408.html;
	error_page 409			./www_2/pages/409.html;
	error_page 411			./www_2/pages/411.html;
	error_page 413			./www_2/pages/413.html;
	error_page 414			./www_2/pages/414.html;
	error_page 415			./www_2/pages/415.html;
	error_page 418			./www_2/pages/418.html;
	error_page 429			./www_2/pages/429.html;
	error_page 431			./www_2/pages/431.html;
	error_page 451			./www_2/pages/451.html;
	error_page 500			./www_2/pages/500.html;
	error_page 501			./www_2/pages/501.html;
	error_page 502			./www_2/pages/502.html;
	error_page 503			./www_2/pages/503.html;
	error_page 504			./www_2/pages/504.html;
	error_page 505			./www_2/pages/505.html;
	autoindex				on;
	limit_except			GET PUT POST;

	location /pages/ {
        		root 						./www_2/pages/;
        		limit_except 				GET;
        		index						index_2.html;
        		autoindex					off;
        	}

	location / {
		root 						./www_2/;
		cgi							php		/usr/bin/php;
		limit_except 				PUT;
		index						index.html;
	}
}

server {
	server_name 			redirected;
	listen					9093;
	redirect 301  https://developer.mozilla.org/ru/docs/Web/HTTP/Status/301;

	location / {
		root 						./www_2/;
		index						index.html;
	}
}