server {
	listen					8081;

	location / {
		root 						./www_tester/;
		limit_except 				GET;
		index						index_empty.html;
		autoindex					off;
	}

	location /put_test/ {
    		root 						./www_tester/;
    		upload_folder				upload/;
    		limit_except 				PUT POST;
    		limit_body_size				10000000000;
    		index						index_empty.html;
    		autoindex					off;
            cgi                         bla     /Users/scopycat/Documents/webserv/webserv/cgi_tester;
    	}

    location /post_body/ {
    		root 						./www_tester/;
    		limit_body_size				100;
    		limit_except 				POST;
    		cgi                         bla    /Users/scopycat/Documents/webserv/webserv/cgi_tester;
    	}

	location /directory/ {
        	root 						./www_tester/YoupiBanane/;
        	limit_except 				GET POST;
        	limit_body_size				10000000000;
			index						youpi.bad_extension;
			cgi                         bla     /Users/scopycat/Documents/webserv/webserv/cgi_tester;
      	}

	location /delete_test/ {
			root 						./www_tester/upload/;
			limit_except 				DELETE;
			index						index_empty.html;
			autoindex					off;
		}

}