server {
	listen					8081;

	location / {
		root 						./www/;
		limit_except 				GET;
		index						index_2.html;
		autoindex					off;
	}

	location /put_test/ {
    		root 						./www/upload/;
    		limit_except 				PUT POST;
    		limit_body_size				10000000000;
    		index						index.html;
    		autoindex					off;
            cgi                         bla     /Users/scopycat/goinfre/webserv/cgi_tester;
    	}

    location /post_body/ {
    		root 						./www/;
    		limit_body_size				100;
    		limit_except 				POST;
    		cgi                         bla     /Users/scopycat/goinfre/webserv/cgi_tester;
    	}

	location /directory/ {
        	root 						./www/YoupiBanane/;
        	limit_except 				GET POST;
        	limit_body_size				10000000000;
			index						youpi.bad_extension;
			cgi                         bla    /Users/scopycat/goinfre/webserv/cgi_tester;
      	}

	location /delete_test/ {
			root 						./www/upload/;
			limit_except 				DELETE;
			index						index.html;
			autoindex					off;
		}

}

server {
	listen					8081;
	error_page 404			./www/pages/403.html;
	error_page 403			./www/pages/404.html;
	server_name				test;

	location / {
		root 						./www_2/;
		limit_except 				GET;
		index						index.html;
		autoindex					off;
	}
}