server {
	listen					127.0.0.1:8080;
	error_page 404			./www/pages/404.html;
	error_page 403			./www/pages/403.html;
	error_page 418			./www_2/pages/418.html;

	location / {
		root 						./www/;
		limit_except 				GET PUT DELETE;
		index						index.html;
		autoindex					off;
		upload_folder				upload/;
	}

    location /php/ {
    		root 						./www/php/;
    		limit_except 				GET POST;
    		index						index.php;
    		cgi                         php /Users/scopycat/.brew/bin/php-cgi
    		autoindex					off;
    	}
}
